* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    background-color: #ffffff;
}

footer{
    background-color: whitesmoke;
    .containerRedes{
        .rowRedes{
            h3{
                text-align: center;
                display: flex;
                align-items: center;
            }
        }
        .col{
            display: flex;
            justify-content: center;
            img:hover{
                background-color: #F2ECD8;
            }
        }
    }
}
