.mainIndex {
    section {
        h1 {
            text-transform: uppercase;
            text-align: center;
        }
    
        h3 {
            text-align: center;
            margin-bottom: 200px;
        }
    }
    .container-fluid {
        .row {
            .colContenedor {
                height: 300px;
                display: flex;
                align-items: center;
                .colContenedorSmall {
                    margin: 0 auto;
                    height: 70%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    flex-direction: column;
                    img {
                        width: 100px;
                    }
                }
            }
        }
    }
}