section {
    h1 {
        text-transform: uppercase;
        text-align: center;
    }

    h3 {
        text-align: center;
        margin-bottom: 200px;
    }
}

.elementorContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: #F2B279;
    margin-bottom: 100px;

    .elementorWidget {
        width: 33.333%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .elementorIcon {
            display: flex;
            justify-content: center;
            margin-bottom: 25px;
        }
    }

    h3,
    p {
        text-align: center;
    }
}