@media (max-width: 320px){
    body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.2fr 0.2fr 0.6fr;
    grid-template-areas:
        "section"
        "div1"
        "div2" 
        "footer";
        section {
            grid-area: section;
        
            h1 {
                text-align: center;
                font-size: x-large;
                font-family: serif;
                text-transform: uppercase;
                letter-spacing: normal;
                padding-top: 20%;
            }
        
            p {
                text-align: center;
                font-size: medium;
                text-transform: uppercase;
            }
        
            .imgPrincipal {
                display: flex;
                justify-content: center;
                .img-fluid{
                    width: 90%;
                }
            }
        }

        .div1 {
            grid-area: div1;
            font-size: large;
            text-transform: uppercase;
            text-align: center;
            margin-top: 0;
        
            .enviosPagos {
                width: 250px;
                height: 350px;
                background-color: #72be8d79;
                border-radius: 4px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                color: white;
                box-shadow: none;
                margin-bottom: 20%;
                margin-top: 0;
                margin-left: 10%;
        
                .envioGratis {
                    padding-top: 10%;
        
                    h3 {
                        padding: 10px;
                        text-shadow: 7px 1px 7px #000;
                    }
        
                    p {
                        color: rgb(141, 141, 141);
                    }
                }
            }
        
            .pagaQuieras {
                margin-top: 20%;
        
                h3 {
                    padding: 10px;
                    text-shadow: 7px 1px 7px #000;
                }
        
                p {
                    color: rgb(141, 141, 141);
                }
            }
        }

        .div2 {
            grid-area: div2;
            font-size: large;
            text-transform: uppercase;
            text-align: center;
            margin-top: 0;
            margin-bottom: 20%;
            margin-left: 10%;
        
            .contacto {
                width: 250px;
                height: 350px;
                background-color: #72be8d79;
                border-radius: 4px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                color: white;
                box-shadow: 7px 10px 20px rgba(0, 0, 0, 0.295);
        
                h4 {
                    text-shadow: 7px 1px 7px #000;
                    padding: 10px;
                }
        
                input {
                    width: 80%;
                    background: #ffffff;
                    border-radius: 4px;
                    margin-bottom: 4px;
                    border: 1px solid #000000;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-size: 15px;
                    text-align: left;
                    color: white;
                    margin-bottom: 20px;
                }
        
                textarea {
                    width: 80%;
                    height: 25%;
                    text-align: center;
                    margin-top: 0;
                }
        
                .botonContacto {
                    width: 24%;
                    height: 10%;
                    background: rgba(0, 0, 0, 0.589);
                    border: none;
                    color: white;
                    font-size: 16px;
                    margin-top: 0;
                    text-align: center;
        
                    &:hover {
                        background: rgba(117, 117, 117, 0.89);
                    }
                }
            }
        }

        footer {
            grid-area: footer;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 0.5fr 0.5fr;
            grid-template-areas: "quehacemos"
                               "redes";
            text-align: center;
            background: #72be8d79;
            margin-left: 0;
            margin-right: 0;
            padding-top: 20px;
            width: 100%;
            .quehacemos{
                grid-area: quehacemos;
                h5{
                    text-transform: uppercase;
                    font-family: fantasy;
                    font-size: x-large;
                    letter-spacing: 3px;
                }
                p{
                    text-transform: uppercase;
                    font-size: small;
                }
            }
            .redes{
                grid-area: redes;
                h5{
                    text-transform: uppercase;
                    font-family: fantasy;
                    font-size: x-large;
                    letter-spacing: 3px;
                }
                img:hover{
                    background: #43ff85;
                }
            }
        }
    }

    .sectionProductos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.1fr 1fr;
        grid-template-areas:
            "menu"
            "titulo2"
            "table";
        margin-right: 0px;
        margin-left: 0px;
        h2 {
            grid-area: titulo2;
            text-align: center;
            font-size: medium;
            font-family: serif;
            text-transform: uppercase;
            letter-spacing: normal;
            margin: 20px;
    
        }
        .menu {
            grid-area: menu;
            width: 100%;
            margin-top: 20px;
        }
        .table {
            grid-area: table;
            background-color: #72BE8D;
            border-radius: 4px;
            border: 2px solid;
            width: 100%;
            th{
                font-size: x-small;
            }
            td{
                font-size: x-small;
            }
            .carrito{
                background: #46917A;
                border: none;
                padding: 0;
                color: white;
                &:hover{
                    background: #A7D3B2;
                }
            }
        }
    }

    .formSesion{
        width: 100%;
        background-color: #72be8d79;
        padding: 30px;
        margin: auto;
        margin-top: 50px;
        border-radius: 4px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
        box-shadow: none;
        h5{
            font-size: 30px;
            margin-bottom: 20px;
        }
        p{
            height: 40px;
            text-align: left;
            font-size: medium;
        }
        .btn{
            width: 100%;
            background: #46917A;
            border: none;
            padding: 12px;
            color: white;
            margin: 16px 0;
            font-size: 16px;
            &:hover{
                background: #A7D3B2;
            }
        }
    }

    .crearCuenta{
        width: 100%;
        background-color: #72be8d79;
        padding: 30px;
        margin: auto;
        margin-top: 20%;
        border-radius: 4px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
        box-shadow: none;
        h4{
            font-size: 22px;
            margin-bottom: 20px;
        }
        input{
            width: 100%;
            background: #ffffff;
            padding: 10px;
            border-radius: 4px;
            margin-bottom: 16px;
            border: 1px solid #46917A;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 18px;
            color: white;
        }
        .botons{
            width: 100%;
            background: #46917A;
            border: none;
            padding: 12px;
            color: white;
            margin: 16px 0;
            font-size: 16px;
            &:hover{
                background: #A7D3B2;
            }
        }
        p{
            height: 40px;
            text-align: center;
            font-size: 18px;
            a{
                color: white;
                text-decoration: none;
                &:hover{
                    color: white;
                    text-decoration: underline;
                }
            }
        }
    }
}
@media (max-width: 375px){
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.2fr 0.2fr 0.6fr;
        grid-template-areas:
            "section"
            "div1"
            "div2" 
            "footer";
            section {
                grid-area: section;
            
                h1 {
                    text-align: center;
                    font-size: x-large;
                    font-family: serif;
                    text-transform: uppercase;
                    letter-spacing: normal;
                    padding-top: 20%;
                }
            
                p {
                    text-align: center;
                    font-size: medium;
                    text-transform: uppercase;
                }
            
                .imgPrincipal {
                    display: flex;
                    justify-content: center;
                    .img-fluid{
                        width: 90%;
                    }
                }
            }
    
            .div1 {
                grid-area: div1;
                font-size: large;
                text-transform: uppercase;
                text-align: center;
                margin-top: 0;
            
                .enviosPagos {
                    width: 90%;
                    height: 90%;
                    background-color: #72be8d79;
                    border-radius: 4px;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    color: white;
                    box-shadow: none;
                    margin-bottom: 20%;
                    margin-top: 0;
                    margin-left: 5%;
            
                    .envioGratis {
                        padding-top: 10%;
            
                        h3 {
                            padding: 10px;
                            text-shadow: 7px 1px 7px #000;
                        }
            
                        p {
                            color: rgb(141, 141, 141);
                        }
                    }
                }
            
                .pagaQuieras {
                    margin-top: 20%;
            
                    h3 {
                        padding: 10px;
                        text-shadow: 7px 1px 7px #000;
                    }
            
                    p {
                        color: rgb(141, 141, 141);
                    }
                }
            }
    
            .div2 {
                grid-area: div2;
                font-size: large;
                text-transform: uppercase;
                text-align: center;
                margin-top: 0;
                margin-bottom: 20%;
                margin-left: 10%;
            
                .contacto {
                    width: 90%;
                    height: 90%;
                    background-color: #72be8d79;
                    border-radius: 4px;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    color: white;
                    box-shadow: none;
            
                    h4 {
                        text-shadow: 7px 1px 7px #000;
                        padding: 10px;
                    }
            
                    input {
                        width: 80%;
                        background: #ffffff;
                        border-radius: 4px;
                        margin-bottom: 4px;
                        border: 1px solid #000000;
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        font-size: 15px;
                        text-align: left;
                        color: white;
                        margin-bottom: 20px;
                    }
            
                    textarea {
                        width: 80%;
                        height: 25%;
                        text-align: center;
                        margin-top: 0;
                    }
            
                    .botonContacto {
                        width: 24%;
                        height: 10%;
                        background: rgba(0, 0, 0, 0.589);
                        border: none;
                        color: white;
                        font-size: 16px;
                        margin-top: 0;
                        text-align: center;
            
                        &:hover {
                            background: rgba(117, 117, 117, 0.89);
                        }
                    }
                }
            }
    
            footer {
                grid-area: footer;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 0.5fr 0.5fr;
                grid-template-areas: "quehacemos"
                                   "redes";
                text-align: center;
                background: #72be8d79;
                margin-left: 0;
                margin-right: 0;
                padding-top: 20px;
                width: 100%;
                .quehacemos{
                    grid-area: quehacemos;
                    h5{
                        text-transform: uppercase;
                        font-family: fantasy;
                        font-size: x-large;
                        letter-spacing: 3px;
                    }
                    p{
                        text-transform: uppercase;
                        font-size: small;
                    }
                }
                .redes{
                    grid-area: redes;
                    h5{
                        text-transform: uppercase;
                        font-family: fantasy;
                        font-size: x-large;
                        letter-spacing: 3px;
                    }
                    img:hover{
                        background: #43ff85;
                    }
                }
            }
        }

        .sectionProductos {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 0.2fr 0.2fr 0.2fr 1fr;
            grid-template-areas:
                "header"
                "menu"
                "titulo2"
                "table";
            margin-right: 0px;
            margin-left: 0px;
            header{
                grid-area: header;
            }
            h2 {
                grid-area: titulo2;
                text-align: center;
                font-size: larger;
                font-family: serif;
                text-transform: uppercase;
                letter-spacing: normal;
                margin: 20px;
        
            }
            .menu {
                grid-area: menu;
                width: 100%;
                margin-top: 20px;
            }
            .table {
                grid-area: table;
                background-color: #72BE8D;
                border-radius: 4px;
                border: 2px solid;
                width: 100%;
                th{
                    font-size: x-small;
                }
                td{
                    font-size: x-small;
                }
                .carrito{
                    background: #46917A;
                    border: none;
                    padding: 0;
                    color: white;
                    &:hover{
                        background: #A7D3B2;
                    }
                }
            }
        }

        .formSesion{
            width: 90%;
            background-color: #72be8d79;
            padding: 30px;
            margin: auto;
            margin-top: 50px;
            border-radius: 4px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: white;
            box-shadow: none;
            h5{
                font-size: 30px;
                margin-bottom: 20px;
            }
            p{
                height: 40px;
                text-align: left;
                font-size: medium;
            }
            .btn{
                width: 100%;
                background: #46917A;
                border: none;
                padding: 12px;
                color: white;
                margin: 16px 0;
                font-size: 16px;
                &:hover{
                    background: #A7D3B2;
                }
            }
        }

        .crearCuenta{
            width: 90%;
            background-color: #72be8d79;
            padding: 30px;
            margin: auto;
            margin-top: 20%;
            border-radius: 4px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: white;
            box-shadow: none;
            h4{
                font-size: 22px;
                margin-bottom: 20px;
            }
            input{
                width: 100%;
                background: #ffffff;
                padding: 10px;
                border-radius: 4px;
                margin-bottom: 16px;
                border: 1px solid #46917A;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 18px;
                color: white;
            }
            .botons{
                width: 100%;
                background: #46917A;
                border: none;
                padding: 12px;
                color: white;
                margin: 16px 0;
                font-size: 16px;
                &:hover{
                    background: #A7D3B2;
                }
            }
            p{
                height: 40px;
                text-align: center;
                font-size: 18px;
                a{
                    color: white;
                    text-decoration: none;
                    &:hover{
                        color: white;
                        text-decoration: underline;
                    }
                }
            }
        }
}