@media (max-width: 425px){
    section{
        h1{
            margin-bottom: 50px;
        }
        h3{
            margin-bottom: 100px;
        }
    }
    .elementorContainer{
        display: flex;
        flex-wrap: wrap;
        background-color: white;
        .elementorWidget{
            width: auto;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
        }
    }
}