@mixin div($width, $height) {
    width: $width;
    height: $height;
    background-color: #72be8d79;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    box-shadow: 7px 10px 20px rgba(0, 0, 0, 0.295);
}