.mainProductos{
    .container{
        .row{
            .tituloProducto{
                text-align: center;
                text-transform: uppercase;
            }
        }
    }
    .carrito:hover{
        background-color: white;
    }
}