.mainPromo{
    h2{
        background-color: #F2C49B;
        text-transform: uppercase;
        text-align: center;
    }
    .promosUno, .promosDos, .promosTres{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .promo1{
        @extend %colorPromo;
    }
    .promo2{
        @extend %colorPromo;
    }
    .promo3{
        @extend %colorPromo;
    }
    .promo4{
        @extend %colorPromo;
    }
    .promo5{
        @extend %colorPromo;
    }
    .promo6{
        @extend %colorPromo;
    }
    .promo7{
        @extend %colorPromo;
    }
    .promo8{
        @extend %colorPromo;
    }
    .promo9{
        @extend %colorPromo;
    }
}