section{
    h2{
        text-transform: uppercase;
        font-size: 3em;
        background-color: #fcd1a4a8;
    }
    thead, tbody{
        background-color: #f2b17933;
    }
    .carrito:hover{
        background-color: rgb(190, 190, 190);
    }
}