.mainPromo{
    h2{
        background-color: #F2C49B;
        text-transform: uppercase;
        text-align: center;
    }
    .promosUno, .promosDos, .promosTres{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .promo1{
        background-color: #f0d4bc;
        text-align: center;
        border: 1px solid black;
        &:hover{
            transition: transform 0.5s;
            transform: scale(1.1);
            z-index: 100;
        }
    }
    .promo2{
        background-color: #f0d4bc;
        text-align: center;
        border: 1px solid black;
        &:hover{
            transition: transform 0.5s;
            transform: scale(1.1);
            z-index: 100;
        }
    }
    .promo3{
        background-color: #f0d4bc;
        text-align: center;
        border: 1px solid black;
        &:hover{
            transition: transform 0.5s;
            transform: scale(1.1);
            z-index: 100;
        }
    }
    .promo4{
        background-color: #f0d4bc;
        text-align: center;
        border: 1px solid black;
        &:hover{
            transition: transform 0.5s;
            transform: scale(1.1);
            z-index: 100;
        }
    }
    .promo5{
        background-color: #f0d4bc;
        text-align: center;
        border: 1px solid black;
        &:hover{
            transition: transform 0.5s;
            transform: scale(1.1);
            z-index: 100;
        }
    }
    .promo6{
        background-color: #f0d4bc;
        text-align: center;
        border: 1px solid black;
        &:hover{
            transition: transform 0.5s;
            transform: scale(1.1);
            z-index: 100;
        }
    }
    .promo7{
        background-color: #f0d4bc;
        text-align: center;
        border: 1px solid black;
        &:hover{
            transition: transform 0.5s;
            transform: scale(1.1);
            z-index: 100;
        }
    }
    .promo8{
        background-color: #f0d4bc;
        text-align: center;
        border: 1px solid black;
        &:hover{
            transition: transform 0.5s;
            transform: scale(1.1);
            z-index: 100;
        }
    }
    .promo9{
        background-color: #f0d4bc;
        text-align: center;
        border: 1px solid black;
        &:hover{
            transition: transform 0.5s;
            transform: scale(1.1);
            z-index: 100;
        }
    }
}