.mainSesion{
    legend{
        text-align: center;
        text-transform: uppercase;
    }
    form{
        border: $border-form;
        padding: 20px;
        background-color: mintcream;
    }
}
.divCrear{
    margin-top: 10%;
    legend{
        text-align: center;
        text-transform: uppercase;
    }
    form{
        border: $border-form;
        padding: 20px;
        background-color: mintcream;
    }
}