.formSesion{
    @extend %form;
    width: 500px;
    h5{
        font-size: 30px;
        margin-bottom: 20px;
    }
    p{
        height: 40px;
        text-align: left;
        font-size: 18px;
    }
    .btn{
        width: 100%;
        background: #46917A;
        border: none;
        padding: 12px;
        color: white;
        margin: 16px 0;
        font-size: 16px;
        &:hover{
            background: #A7D3B2;
        }
    }
}