.mainSesion{
    h2{
        text-align: center;
    }
    form{
        border: 4px solid rgb(183, 187, 185);
        padding: 20px;
        background-color: mintcream;
    }
}
.mainCrear{
    h2{
        text-align: center;
        margin-top: 10%;
    }
    form{
        border: 4px solid rgb(183, 187, 185);
        padding: 20px;
        background-color: mintcream;
    }
}