* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

footer {
  background-color: #F2B279;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

footer .redes h5 {
  font-family: fantasy;
  font-size: x-large;
  letter-spacing: 3px;
}

footer .redes img {
  margin: 10px;
}

footer .redes img:hover {
  background-color: #F2ECD8;
}

.crearCuenta {
  background-color: #F2B279;
  padding: 30px;
  margin: auto;
  margin-top: 50px;
  border-radius: 4px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  -webkit-box-shadow: 7px 13px 37px #000;
          box-shadow: 7px 13px 37px #000;
}

.mainIndex section h1 {
  text-transform: uppercase;
  text-align: center;
}

.mainIndex section h3 {
  text-align: center;
  margin-bottom: 200px;
}

.mainIndex .container-fluid .row .colContenedor {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainIndex .container-fluid .row .colContenedor .colContenedorSmall {
  margin: 0 auto;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainIndex .container-fluid .row .colContenedor .colContenedorSmall img {
  width: 100px;
}

section h2 {
  text-transform: uppercase;
  text-align: center;
}

section .carrito:hover {
  background-color: #bebebe;
}

.formSesion {
  background-color: #F2B279;
  padding: 30px;
  margin: auto;
  margin-bottom: 50px;
  border-radius: 4px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  -webkit-box-shadow: 7px 13px 37px #000;
          box-shadow: 7px 13px 37px #000;
  width: 500px;
  height: 450px;
}

.formSesion h5 {
  font-size: 30px;
  margin-bottom: 20px;
}

.formSesion p {
  height: 40px;
  text-align: left;
  font-size: 18px;
}

.formSesion .btn {
  width: 100%;
  background: #BF7449;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

.formSesion .btn:hover {
  background: #bf744977;
}

.crearCuenta {
  width: 400px;
  margin-bottom: 50px;
}

.crearCuenta h4 {
  font-size: 2em;
  margin-bottom: 20px;
}

.crearCuenta input {
  width: 100%;
  background: #ffffff;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #46917A;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  color: white;
}

.crearCuenta .botons {
  width: 100%;
  background: #BF7449;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

.crearCuenta .botons:hover {
  background: #bf744977;
}

.crearCuenta p {
  height: 40px;
  text-align: center;
  font-size: 18px;
}

.crearCuenta p a {
  color: #BF7449;
  text-decoration: none;
}

.crearCuenta p a:hover {
  color: #bf744942;
  text-decoration: underline;
}
/*# sourceMappingURL=estilos.css.map */